################################################
##############  .eslintignore  #################
################################################

################################################
# Ignore your build JavsScript.
################################################

*
!js/src/*.js
!js/src/**/*.js