################################################
##############  .eslintignore  #################
################################################

################################################
# Ignore your build JavsScript.
################################################

js/lib/*.js
js/lib/**/*.js
sqs_template/**/*.js