################################################
##############  .eslintignore  #################
################################################

################################################
# Ignore your build JavsScript.
################################################

*
!source/**/*.js